{% extends 'layout.html' %}

{% block nav %}
<li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link " href="CropRecommendation.html">Crop</a></li>
<li class="nav-item"><a class="nav-link " href="FertilizerRecommendation.html">Fertilizer</a></li>
<li class="nav-item"><a class="nav-link" href="PesticideRecommendation.html">Pesticide</a></li>
{% endblock %}

{% block body %}
<!-- slideshow -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item dark active">
            <img src="{{ url_for('static', filename='imgs/image1.jpg') }}" class="d-block w-100" alt="grandma at work" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>Subsistence farming with AI.</h1>
                    <p>
                        Let's help grandma with informed and precise farming decisions
                        with AI technologies.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#solutions">Get Started now</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item dark">
            <img src="{{ url_for('static', filename='imgs/image2.jpg') }}" class="d-block w-100" alt="uncle at work" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Digital technology in Agriculture.</h1>
                    <p>
                        Digital technology holds promise to dramatically enhance
                        smallholder productivity
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary"
                            href="https://www.brookings.edu/blog/africa-in-focus/2021/08/16/digital-technology-and-african-smallholder-agriculture-implications-for-public-policy/">Learn
                            more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item dark">
            <img src="{{ url_for('static', filename='imgs/image3.jpg') }}" class="d-block w-100" alt="brother at work" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>One more reason to step up African Agriculture.</h1>
                    <p>
                        Roughly 65 percent of Africa's population relies on
                        subsistence farming.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#solutions">Get Started now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- quote -->
<div class="row quote-section">
    <div class="col-md-2"></div>
    <div class="col-md-8 py-3">
        <figure class="">
            <span class="d-flex align-items-center justify-content-center py-3">
                <i class="fa fa-quote-left mb-3"></i>
                <blockquote class="blockquote">
                    <p class="me-3 mb-0 text-center">
                        If we get Agriculture right in Africa, where most of the
                        people now are working in that sector, not only would it help
                        boost development but we will be secure in terms of food and
                        nutrition and then be able to move on to other areas.
                    </p>
                </blockquote>
                <i class="fa fa-quote-right mb-3"></i>
            </span>

            <figcaption class="blockquote-footer text-center">
                by <cite title="Source Title">Koffi Annan</cite>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-4">
        <h1 class="display-5 fw-bold">What is PreciiTech?</h1>
        <div class="d-flex justify-content-between">
            <p class="col-md-8 fs-4">
                PreciiTech is a technology solution for precision farming in
                Africa. It aims to provide farmers with AI enabled technology that
                enhances their productivity in the
                <b>Subsistence farming</b> sector. It's presently focuses on
                enhancing precision <i>Crop</i> and <i>Animal</i> production.
            </p>

            <div class="my-auto mx-5">
                <img src="{{ url_for('static', filename='imgs/logo2.gif') }}" class="img-fluid" alt="" />
            </div>
        </div>

        <!-- <button class="btn btn-primary btn-lg" type="button">
            Get Started Now
          </button> -->
    </div>
</div>

<!-- options -->
<div id="solutions" class="container">
    <div class="row py-5 mb-5">
        <div class="col-md-12">
            <div class="row mt-n5">
                <div class="col-md-4 py-0">
                    <hr />
                </div>
                <div class="col-md-4 py-0">
                    <h3 class="text-center">Our Solutions</h3>
                </div>
                <div class="col-md-4 py-0">
                    <hr />
                </div>
            </div>

            <div class="row py-5">
                <div class="col-sm-6 px-5">
                    <div class="card py-3 shadow-sm border-0">
                        <img src="{{ url_for('static', filename='imgs/logo.png') }}" class="img-fluid mx-auto" height="150px" width="100px" alt="..." />
                        <div class="card-body pt-1 pb-4">
                            <h5 class="card-title">Precision Crop Production</h5>
                            <p class="card-text px-4">
                                Get informed measures for effective crop production in
                                less than no time.
                            </p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#selectionModal">
                                Check it Out!
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-5">
                    <div class="card py-3 border-0 shadow-sm">
                        <img src="{{ url_for('static', filename='imgs/logo.png') }}" class="img-fluid mx-auto" height="150px" width="100px" alt="..." />
                        <div class="card-body pt-1 pb-4">
                            <h5 class="card-title">Precision Animal Production</h5>
                            <p class="card-text px-4">
                                Get informed decisions for effective animal rearing in
                                less than no time.
                            </p>
                            <a href="#" class="btn btn-primary">Check it Out!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal modal-fade" tabindex="-1" role="dialog" id="selectionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-6 shadow">
            <div class="modal-body p-5">
                <h2 class="fw-bold mb-0">Select your Interest</h2>

                <div class="d-grid gap-4 my-5 list-group">
                    <a href="#" class="d-flex gap-4 list-group-item list-group-item-action" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="For informed crop cultivation">
                        <img src="{{ url_for('static', filename='imgs/crop-icon.png') }}" class="img-fluid py-3" alt="" />
                        <div>
                            <h5 class="mb-2">Crop Cultivation</h5>
                            Get informed on the crop you want to grow on your farm.
                        </div>
                    </a>
                    <a href="#" class="d-flex gap-4 list-group-item list-group-item-action">
                        <img src="{{ url_for('static', filename='imgs/soil-icon.png') }}" class="img-fluid py-3" alt="" />
                        <div>
                            <h5 class="mb-2">Fertilizer Info</h5>
                            Get informed on the best fertilizer needed for optimal
                            production.
                        </div>
                    </a>
                    <a href="#" class="d-flex gap-4 list-group-item list-group-item-action">
                        <img src="{{ url_for('static', filename='imgs/pest-icon.png') }}" class="img-fluid py-3" alt="" />
                        <div>
                            <h5 class="mb-2">Pesticide Info</h5>
                            Get informed on the best pesticide to use to manage pests
                            for your crop.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}