{% extends "layout.html" %}

{% block nav %}
<nav>
						<ul class="nav navbar-nav link-effect-5" id="link-effect-5">
							<li><a href="index.html" data-hover="Home">Home</a></li>
							<li><a href="CropRecommendation.html" data-hover="Crop">Crop</a></li>
							<li><a href="FertilizerRecommendation.html" data-hover="Fertilizer">Fertilizer</a></li>
							<li  class="active"><a href="PesticideRecommendation.html" data-hover="Pesticide">Pesticide</a></li>
						</ul>
						<div class="w3_social_icons">
							<ul class="w3layouts_social">
								<li><a href="#" class="w3l_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3l_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3l_instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</nav>
{% endblock %}

{% block body %}
<h2 style="text-align: center; margin: 0px; color: black">
  <br>
  <b>File format is not appropriate. Kindly upload image file.</b>
</h2>
<br />
{% endblock %}