{% extends "layout.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="CropRecommendation.html">Crop</a></li>
<li class="nav-item"><a class="nav-link" href="FertilizerRecommendation.html">Fertilizer</a></li>
<li class="nav-item"><a class="nav-link active" href="PesticideRecommendation.html">Pesticide</a></li>
{% endblock %}

{% block body %}
<h2 style="text-align: center; margin: 0px; color: black">
  <br>
  <b>File format is not appropriate. Kindly upload image file.</b>
</h2>
<br />
{% endblock %}